i {
    color: steelblue;
}
nav {
    background-color: gainsboro;
}

th {
    text-align: center;
}

td {
    text-align: center;
}

.to-left {
    text-align: left;
     
}

p {
    text-align: justify;
}

.grid1 {
    display: grid;
    grid-template-columns: 50px 80px auto auto 50px;
    grid-template-rows: auto auto;
}
#item1 {
    grid-column: 2;
    grid-row: 1;
    height: 100px;
    width: 70px;
}
#item2 {
    grid-column: 3;
    grid-row: 1;
    text-align: left;
    margin-top: 7px;
    padding: 20px;
    font-size: 50px;
    font-family: sans-serif;
    font-weight: bold;
}
#item3 {
    grid-column: 2/span 3;  
}
#mail {
    grid-column: 4;
    text-align: right;
    padding: 45px;
    font-weight: bold;
}
.footer {
    
    background-color: gainsboro;
    padding: 20px;
    text-align: center; 
}



.looping-rhombuses-spinner, .looping-rhombuses-spinner * {
      box-sizing: border-box;
    }

    .looping-rhombuses-spinner {
      width: calc(15px * 4);
      height: 15px;
      position: relative;
    }

    .looping-rhombuses-spinner .rhombus {
      height: 15px;
      width: 15px;
      background-color: #ff1d5e;
      left: calc(15px * 4);
      position: absolute;
      margin: 0 auto;
      border-radius: 2px;
      transform: translateY(0) rotate(45deg) scale(0);
      animation: looping-rhombuses-spinner-animation 2500ms linear infinite;
    }

    .looping-rhombuses-spinner .rhombus:nth-child(1) {
      animation-delay: calc(2500ms * 1 / -1.5);
    }

    .looping-rhombuses-spinner .rhombus:nth-child(2) {
      animation-delay: calc(2500ms * 2 / -1.5);
    }

    .looping-rhombuses-spinner .rhombus:nth-child(3) {
      animation-delay: calc(2500ms * 3 / -1.5);
    }

    @keyframes looping-rhombuses-spinner-animation {
      0% {
        transform: translateX(0) rotate(45deg) scale(0);
      }
      50% {
        transform: translateX(-233%) rotate(45deg) scale(1);
      }
      100% {
        transform: translateX(-466%) rotate(45deg) scale(0);
      }
    }